@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  ),

  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),

  density: (
    scale: -1
  )
));

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),

  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),

  density: (
    scale: -1
  )
));


html [data-theme="light"] {
  @include mat.core-color($light-theme);
  @include mat.all-component-colors($light-theme);
}

html [data-theme="dark"] {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
}

html, body {
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

//-------------------------

* {
  overflow-wrap: break-word;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.mat-drawer-content {
  // here I have the main page container
  overflow: hidden;
}

.link-as-button {
  font: 12px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.button-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 16px;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.my-form-field {
  width: 90%;
  padding: 0 1rem; //sides
  margin-bottom: 1rem;
}





// Material customizations

.mat-display-large, .mat-typography .mat-display-large, .mat-typography h1  {
  font: 400 0px Roboto, sans-serif;
}


.mat-display-medium, .mat-typography .mat-display-medium, .mat-typography h2 {
  font: 400 1.3rem Roboto, sans-serif;
}

.mat-accent.mat-mdc-checkbox {
  --mat-checkbox-label-text-color: var(--mat-app-text-color);
}

html {
  --mdc-filled-text-field-input-text-color: #999;
}

.mat-mdc-paginator-range-label  {
  display: none;
}

