<div>

  @if (loading$ | async; as req) {
    @switch (req.status) {
      @case ('loading') {
        <div id='overlay'>
          <p>Loading...</p>
        </div>
      }
    }
  }

  <header>
    <h1>Main</h1>
    <ul>
      <li><a [routerLink]="['/products']">Products</a></li>
      <li><a [routerLink]="['/users']">Usuarios</a></li>
      @if (authUser) {
        <li>Hi {{authUser.username}} <a (click)="logout()" href='#'>Logout</a></li>
      } @else {
        <li><a [routerLink]="['/login']">login</a></li>
      }
    </ul>
  </header>

  <main>
    <router-outlet />
  </main>

  <footer>
    Footer
    @if (error$ | async; as error) {
      <p style='color: brown;'>Error: {{error.message}}</p>
    }
  </footer>

  <dialog-confirmation />
</div>
