<div id='product-form-container'>
  <form [formGroup]="pForm" (ngSubmit)="fnOnSubmit($event)">

    @if (p.id) {
      <label for='id'>Id: </label>
      <input id='id' formControlName="id" />
      <hr />
    }
    <label for='name'>Nombre: </label>
    <input id='name' formControlName='name' />
    <hr />

    <label for='price'>Precio: </label>
    <input id='price' formControlName='price' />
    <hr />

    <label for='description'>Descripcion: </label>
    <input id='description' formControlName='description' />
    <hr />

    <input type='submit' value='Actualizar' />

  </form>

</div>
