<div id='main-layout-container'>
  <header>
    <app-header
      [auth]='auth'
      [sideMenuOpened]='sidenav.opened'
      (logoutClicked)='onLogoutClicked()'
      (openDrawerClicked)='sidenav.toggle()'
      (changeTheme)='onThemeSwitchChange($event)'
    />
  </header>

  <mat-drawer-container class="example-container" >
    <mat-drawer #sidenav class="example-sidenav" mode="over">
      <a [routerLink]="['/home']" (click)="closeSideMenu()">
        <button mat-menu-item>Blogs</button>
      </a>
      @if (hasRoles(["users"]) ) {
        <a [routerLink]="['/users']" (click)="closeSideMenu()">
          <button mat-menu-item>Usuarios</button>
        </a>
      }
    </mat-drawer>

    <div id="main-container" >
      <main>
        <router-outlet />
      </main>

      <footer>
        <p>Autor::: Mario Marquez Velazquez</p>
        <p>Email::: somsos112&#64;gmail.com</p>
        <p>Telefono::: 241--238--82--96</p>
        <p>This is a change I what to rollback</p>
      </footer>
    </div>

  </mat-drawer-container>

  <!-- Overlay -->
  @if (loading$ | async; as req) {
    @switch (req.status) {
      @case ('loading') {
        <div id='overlay'>
          <p>Loading...</p>
        </div>
      }
    }
  }

  <dialog-confirmation />
</div>
