<main>
  <header>
    <h2>Usuarios</h2>
    <a routerLink="add">Crear</a>
  </header>
  <section class='users'>

    @for (u of users$ | async; track u.id) {
      <article class='user'>
        <header class='user-header'>
          <img src='/img/yellow.png?id={{u.pictureId}}' alt='{{u.name}} {{u.lastName}}' />
          <p>{{u.name}} {{u.lastName}}</p>
        </header>

        <footer>
          <div class='actions'>
            <button class='button-as-link' (click)="deleteById(u.id)">Eliminar</button>
            <a routerLink="update">Actualizar</a>
            <a routerLink="details">Detalles</a>
          </div>
        </footer>
        <hr />
      </article>
    } @empty {
      <p>Sin usuarios a mostrar</p>
    }
  </section>


</main>
