.list-actions {
  margin-bottom: 2rem;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.25rem;


  .user {
    min-width: 290px;

    .user-header {
      display: flex;
      justify-content: space-between;

      .header-left {
        display: flex;
        column-gap: 10px;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: var(--mat-app-text-color);
        }

      }
    }
  }

  .actions {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    max-height: 35px;

  }
}
