<form [formGroup]="uForm" (ngSubmit)="submit()">

  <div class='my-form-field'>
    <mat-checkbox formControlName="active">Activo: </mat-checkbox>
  </div>

  <mat-form-field class='my-form-field'>
    <mat-label>Usuario</mat-label>
    <input
      matInput
      type="text"
      placeholder="Pedro"
      formControlName="username"
    />
  </mat-form-field>


  <div class='my-form-field'>
    Roles:
    <div style='display: flex;'>
      <!--              ... id; let i = $index -->
      @for (o of roles; track o.id) {
        <mat-checkbox
          [value]="o.id + '' "
          [checked]="o.selected"
          (change)="onRoleChanged($event)"
        >{{o.label}}</mat-checkbox>
      }
    </div>
  </div>

  <div class='my-form-field'>
    <label for="image">Imagen</label>
    <app-file-upload
      [urlImage]='getUrlPicture(user.id)'
      (fileChange)='onFileChange($event)'
    />
  </div>

  <div class='actions'>
    <button mat-flat-button type="submit">{{btnSubmitLabel}}</button>
  </div>

</form>
