<form [formGroup]="uForm" (ngSubmit)="submit()">

  <mat-form-field>
    <mat-label>Nombre de usuario</mat-label>
    <input
      matInput
      type="text"
      placeholder="neyra"
      formControlName="username"
    />
    <mat-error>{{checkForErrorsIn(uForm.controls.username)}}</mat-error>
  </mat-form-field>



  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      placeholder="neyra@email.com"
      formControlName="email"
    />
    <mat-error>{{checkForErrorsIn(uForm.controls.email)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      (keyup)='checkConfirmPassword($event)'
    />
    <mat-error>{{checkForErrorsIn(uForm.controls.password)}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirmar contraseña</mat-label>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      (keyup)='checkConfirmPassword($event)'
    />
    <mat-error>{{checkForErrorsIn(uForm.controls.confirmPassword)}}</mat-error>
  </mat-form-field>


  <div>
    Roles:
    <div style='display: flex;'>
      <!--              ... id; let i = $index -->
      @for (o of roles; track o.id) {
        <mat-checkbox
          [value]="o.id + '' "
          [checked]="o.selected"
          (change)="onRoleChanged($event)"
        >{{o.label}}</mat-checkbox>
      }
    </div>
  </div>

  <div>
    <label for="image">Imagen</label>
    <app-file-upload
      [urlImage]='getUrlPicture(user.id)'
      (fileChange)='onFileChange($event)'
    />
  </div>

  <div class='actions'>
    <button mat-flat-button type="submit" [disabled]="this.uForm.invalid">{{btnSubmitLabel}}</button>
  </div>

</form>
